  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #89C15E;
    min-height: 100vh;
    text-transform: uppercase;
    color: #FFFFFF
  }
  
  /* Main Content */
  .container,.container1 {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 1rem 1.4rem 1rem 2rem;
  }
  .heading{
      margin: 0;
      font-size: 2rem ;
      font-weight: 400;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #FFFFFF;
      text-align: left;
  }
  p{
      margin: 0;
  }
  .score{
    display: flex;
    justify-content: space-between;
  }
  .user_score,.pc_score {
    text-align: center;
    margin: 15px;
    border-radius: 15px;
    background: #fff;
    width: 130px;
    height: 120px;
    padding: 10px;
    line-height: 1;
    
  }
  
  .score_title {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    text-align: center;
    color: hsl(229, 25%, 31%);
  }
  
  .user_score_number,.pc_score_number{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: hsl(229, 25%, 31%);
  }
  
  /* Options Page */
  .options {
    position: relative;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-areas:
      "rock scissors"
      "paper paper";
    place-items: center;
    height: 30rem;
    padding-top: 3.5rem; 
    max-width: 560px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .options::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 22.5%;
    top: 33%;
    background: url("./img/triangle.svg") no-repeat;
    z-index: -1;
  }
  
  .choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .choice {
    position: relative;
    width: 8rem;
    height: 8rem;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0.5rem #00000026;
  }
  .choice::before,
  .choice::after {
    content: "";
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
  }
  
  .choice::after {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
    z-index: -2;
  }
  
  .choice img {
    transform: scale(1.3);
  }
  
  .choice.paper::before {
    background: #FFA943;
    box-shadow: 0 0.5rem #0000004d, 0 0.5rem  hsl(40, 84%, 53%);
  }
  .choice.scissors::before {
    background: #BD00FF;
    box-shadow: 0 0.5rem #894f9e;
  }
  .choice.rock::before {
    background: #0074B6;
    box-shadow: 0 0.5rem #1f6c99;
  }
  
  .choice-btn[data-choice="paper"] {
    grid-area: paper;
  }
  .choice-btn[data-choice="scissors"] {
    grid-area: scissors;
  }
  .choice-btn[data-choice="rock"] {
    grid-area: rock;
  }
  
  /*Display Results */
  .display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
      "you-title pc-title"
      "you-picked pc-picked";
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .display_heading {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    padding: 4rem 0 8rem;
  }
  .display_result {
    min-width: 8rem;
    min-height: 8rem;
    background: #16213d;
    border-radius: 50%;
    transform: scale(1.2);
    z-index: -1;
  }
  
  .display_heading:first-of-type {
    grid-area: you-title;
  }
  .display_heading:last-of-type {
    grid-area: pc-title;
  }
  .display_result:first-of-type {
    grid-area: you-picked;
  }
  .display_result:last-of-type {
    grid-area: pc-picked;
  }
  
  .display.show-winner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "you-title . pc-title"
      "you-picked result-winner pc-picked";
  }
  
  .winner .choice::after {
    box-shadow: 0 0 0 50px  #28a01d63, 0 0 0 80px #33922a63, 0 0 0 110px #7aaf52;
    opacity: 1;
  }
  
  .display_winner {
    grid-area: result-winner;
    display: grid;
    place-items: center;
  }
  .display_text {
    font-size: 3.5rem;
    padding-bottom: 0.3rem;
    letter-spacing: 0.1rem;
  }
  .display_textAgainst{
    font-size: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
  }
  
  .play-again {
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: hsl(229, 25%, 31%);
    padding: 0.6rem 3rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .play-again:focus {
    border: 2px solid #ffffff;
  }
  /* next button*/
  .next-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 0.6rem;
    color: #ffffff;
    padding: 0.6rem 2rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .next-btn:focus {
    border: 2px solid #ffffff;
  }
  
  .reset-btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 0.6rem;
    color: #ffffff;
    padding: 0.6rem 1rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .reset-btn:focus {
    border: 2px solid #ffffff;
  }
  /* Rules Button */
  .rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 0.6rem;
    color: #ffffff;
    padding: 0.6rem 2rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .rules-btn:focus {
    border: 2px solid #ffffff;
  }
  
  /* Rules Div*/
  .rules {
    position: absolute;
    height: 390px;
    width: 320px;
    bottom: 120px;
    right: 20px;
    display: grid;
    float: right;
    background: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
  }
  .rules_container {
    background: #004429;
    width: 300px;
    height: 370px;
    margin: 10px;
    border-radius: 0.5rem;
  }
  .rules_header {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;
  }
  .rules_heading {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
  }
  .close-btn {
    position: absolute;
    float: right;
    right: -10px;
    top: -20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.7rem;
    text-align: center;
    color: #ffffff;
    border: 8px solid white;
    background: red;
    cursor: pointer;
  }
  .show-rules {
    opacity: 1;
    pointer-events: initial;
  }
  ul{
    width: 250px;
    margin: 30px;
    color: red;
    
  }
  li{
    color:#ffffff;
    text-transform: none; 
  
  }
  ul li::before {
    content: "\25A0";
    color: #FFD600;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  /*Celebration Page*/
  
  .imgs{
    position: relative;
    align-items: center;
  }
  #winner1{
    margin-top: 10rem;
    align-items: center;
    margin-left: 37%;
    margin-right: auto;
    width: 25%;
    
  }
  #winner2{
    position: absolute;
    top: 0rem;
    left:15%;
    margin-right: auto;
    width: 70%;
  
    
  }
  .messages{
    align-items: center;
  }
  .celebration{
    font-size: 90px;
    text-align: center;
  }
  .msg{
    font-size: 40px;
    text-align: center;
  }
  .play-again1 {
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: hsl(229, 25%, 31%);
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    margin-left: 37%;
    margin-top: 5%;
    cursor: pointer;
  }
  .play-again1:focus {
    border: 2px solid #ffffff;
  }
  /* Utilities */
  
  .hidden {
    display: none;
  } 